<!DOCTYPE html>
<html lang="pl">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link href="{{url_for('static', filename="style/style.css")}}" rel="stylesheet">
</head>
<body class="box-flex">
  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">LicensePlate Recognition</h1>
  <hr class="mt-2 mb-5">
 {% block content %}{% endblock %}
</body>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{url_for('static', filename="scripts/script.js")}}"></script>
</html>